// Input field

$input-color: #727272;

.input-field {
    border: 1px solid #B6B6B6;
    border-radius: 4px;
    box-sizing: border-box;
    color: $input-color;
    font-size: 16px;
    height: 38px;
    padding: 0 4px 0 13px;
    width: 100%;

    &.unit {
        width: 78px;
    }
}

.input-field:focus {
    outline-width: 0;
}

.input-field-label {
    color: $input-color;
    margin: 0 0 0 -36px;
}