hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E5E5E5;
    margin: 2em 0;
    padding: 0;
}

.constrain {
    max-width: 500px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
}