<h1>{{title}}</h1>
<app-slider-parent [title]="'Your height'" [min]="min" [max]="max" [unit]="'cm'"></app-slider-parent>
<app-slider-parent [title]="'Your weight'" [min]="min2" [max]="max2" [unit]="'kg'"></app-slider-parent>
<app-calculate-button></app-calculate-button>