.legend-container {
  display: grid;
  grid-template-columns: 5% auto;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: 2em;
  padding-top: none;

  @media (min-width: 768px) {
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
  }
}

// Refactor this

.dot {
  align-self: center;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;

  &.blue {
    background-color: #1b9cf9;
    @media (min-width: 768px) {
        display: none;
    }
  }

  &.green {
    background-color: #45b443;
    @media (min-width: 768px) {
        display: none;
    }
  }

  &.yellow {
    background-color: #ffc42d;
    @media (min-width: 768px) {
        display: none;
    }
  }

  &.red {
    background-color: #de0505;
    @media (min-width: 768px) {
        display: none;
    }
  }
}

p {
  margin: 0.1em;
  color: #212121;

  @media (min-width: 768px) {
  }
}
