<div class="legend-container">
    <span class="dot blue"></span><p>{{legend[0]}}</p>
    <span class="dot green"></span><p>{{legend[1]}}</p>
    <span class="dot yellow"></span><p>{{legend[2]}}</p>
    <span class="dot red"></span><p>{{legend[3]}}</p>
</div>