<h1>Your BMI result</h1>
<div
  class="pointer"
  [style.left]="setSliderPercent(sliderVal)"
  [ngStyle]="setSliderColour(sliderVal)"
>
  <p>{{sliderVal}}</p>
  <div class="arrow" 
  [ngStyle]="setSliderColour(sliderVal)"
  ></div>
</div>

<div class="box"></div>
