.box {
  position: relative;
}

.box:after {
  background: linear-gradient(
    to right,
    #1b9cf9 25%,
    #45b443 25% 50%,
    #ffc42d 50% 75%,
    #d30404 75%
  );
  border-radius: 10px;
  content: "";
  height: 0.7em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

h1 {
  padding-bottom: 0.8em;
}

.pointer {
  border-radius: 4px;
  bottom: 0.8em;
  font-size: 18px;
  height: 2.5em;
  line-height: 46px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 4.5em;

  p {
    color: #fff;
  }

  .arrow {
    transform: rotate(45deg);
    bottom: -8px;
    display: block;
    left: 38%;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
  }
}
