@import '../slider-input/slider-parent/slider-parent.component.scss';

.button-container {
    display: grid;
    p {
        margin: 10px auto 0;

        @include desktop {
            margin: 16px auto 0;
        }
    }
}

.calculate-button {
    background: #008390;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 1em;
    height: 48px;
    margin: 30px auto 0;
    width: 100%;

    @include desktop {
        width: 246px;
    }
}