<div class="container">
    <p class="title">{{title}}</p>
    <app-slider class="slider" [sliderVal]="inputValue" [min]="min" [max]="max" (valueOutput)="getSliderValue($event)"></app-slider>
    <app-input-field class="input-field" [inputValue]="sliderValue" [min]="min" [max]="max" [unit]="unit"
        (percentageOutput)="getInputValue($event)">
    </app-input-field>
</div>