// Grid container

$screen-sm-brand-min: 768px;

@mixin desktop {
  @media (min-width: #{$screen-sm-brand-min}) {
    @content;
  }
}

.container {
  align-items: center;
  display: grid;
  font-family: "GT Walsheim";
  grid-template-columns: 75% 25%;
  grid-template-rows: auto 38px;
  grid-gap: 0 10px;
  justify-items: center;

  @media (min-width: #{$screen-sm-brand-min}) {
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 85% 15%;
  }

  p {
    grid-column-start: span 2;
  }
}

.title {
  justify-self: start;
}

.slider {
  width: 100%;
}
