@import '../slider-parent/slider-parent.component.scss';

.slide::after {
    color: #FFF;
    content: '100';
    font-size: 2rem;
    left: 80%;
    position: absolute;
    top: 26%;
}

.slide::before {
    color: #FFF;
    content: '0';
    font-size: 2rem;
    left: 12%;
    position: absolute;
    top: 26%;
}

.slider {
    -webkit-appearance: none;
    align-self: center;
    background: linear-gradient(90deg, rgb(33,169,167) 60%, rgb(214,214,214) 60%);
    border-radius: 6px;
    height: 10px;
    justify-self: start;
    outline: none;
    width: 100%;

    @include desktop {
        height: 6px;
        width: 100%;
    }
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 2px solid #21A9A7;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.slider::-moz-range-thumb {
    background: #FFFFFF;
    border: 2px solid #21A9A7;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
}