$screen-sm-brand-min: 768px;

@mixin desktop {
    @media (min-width: #{$screen-sm-brand-min}) {
        @content;
    }
}

a {
    color: #008390;
}

p {
    line-height: 24px;

    @include desktop {
        text-align: center;
    }
}

h2 {
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}