body {
  margin: 2em;
}

$text-color: #727272;

* {
  font-family: "GT Walsheim", Arial, Helvetica, sans-serif;
}

:host body {
  margin: 2em;
}
  
body, input[type="text"], button {
  color: #333;
}

h1 {
  color: #000000;
  font-size: 24px;
  text-align: center;
}

p {
  color: $text-color;
}